.Nav_right {
	position: fixed;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-end;
	top : 50%;
	gap :0.5rem;
	padding: 1.5rem 0;;
	right: 0rem;
	border-radius:  1rem;
	background-color: rgba(26, 142, 219, 0.652);
	animation: all 0.3s linear forwards;
	color: var(--tony-light-text);
	border: 1px solid rgb(92, 74, 74);
}
.Nav_right a{
	text-align: center;
	padding : 0.5rem;
	margin: 0 0.3rem;
	border-radius:  0.4rem;
	transition: transform 0.1s linear;
	text-decoration: none;
	display: block;
}
.Nav_right a:hover{
	color :var(--tony-dark-background);
	transform: translateY(-0.5rem) scale(1.05);
	background-color: var(--tony-light-text);
}

.Nav_right .active{
	color :var(--tony-dark-background);
	transform: translateY(-0.5rem) scale(1.05);
	background-color: var(--tony-light-text);
}