#projects {
	background: #fff;
	padding: 40px;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	margin: 20px;
  position: relative;
}

#projects h2 {
	font-size: 2rem;
	margin-bottom: 20px;
}

#projects ul {
	list-style-type: none;
	padding: 0;
}

#projects ul li {
	margin-bottom: 20px;
}

#projects ul li h3 {
	font-size: 1.4rem;
	color: #333;
}

#projects ul li p {
	font-size: 1.1rem;
	color: #555;
}

#projects a {
	font-size: 1.1rem;
	color: #61dafb;
	text-decoration: none;
}

#projects a:hover {
	text-decoration: underline;
}

