.experience {
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: var(--tony-white-background);
  }
  
  .experience h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .experience {
    margin-bottom: 30px;
  }
  
  .experience-item {
    width: 50%;
  }
  
  .experience  {
    font-size: 1.1rem;
    color: #555;
  }
  
  .experience ul {
    list-style-type: disc;
    padding-left: 20px;
  }
  
  .experience ul li {
    font-size: 1.1rem;
    margin-bottom: 10px;
  }

  .wrap-line{
    position: absolute;
    width: 2px;
    height: 100%;
    left: 50%;
    background-color:  red;  
    z-index: 1;
  }
  
  .red-color {
    color: var(--brand-red)
  }

  .dot{
    width: 30px;
    height: 30px;
    background-color:  red;  
    border-radius: 30px;
  }

  .year{

  }

  .experience-content{
    display: flex;
    flex-direction: column;
    gap : 5px;
  } 

  .experience-item{
    padding : 2%;
    border: 1px solid #373730;
    border-radius: 30px;
    font-size: small;
  }