.experience {
	border-radius: 0.5rem;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	background-color: var(--tony-white-background);
	font-size: 0.6rem;
	color: #555;
	height: auto;
	width: 80%;
	align-self: center;
	overflow-y: auto;
}
.expericence-headLine {
	height: 20%;
}

.experience h2 {
	font-size: 2rem;
	margin-bottom: 20px;
}

.experience ul {
	list-style-type: disc;
	padding-left: 20px;
}

.experience ul li {
	font-size: 1.1rem;
	margin-bottom: 10px;
}
.experience-content {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 5px;
	width: 100%;
	height: auto;
	font-size: small;
}


.red-color {
	color: var(--brand-red);
}


.point-timeLine{
  width: 30px;
  height: 30px;
  background-color: red;
  z-index: 2;
}

.dot {
	flex :1;
	background-color: red;
	border-radius: 50%;
	max-width: 10px;
	max-height: 10px;
	flex-shrink: 0;
}

.year {
 flex: 1
}

.experience-item {
	position: relative;
	padding: 2%;
	font-size: small;
	height: auto;
	width: 100%;
}
.experience-item .content li {
	font-size: 0.6rem;
}

.experience-item::after {
	position: relative;
	padding: 2%;
	font-size: small;
	height: auto;
	width: 100%;
}

.experience-item::before {
	position: relative;
	padding: 2%;
	font-size: small;
	height: auto;
	width: 100%;
}


.experience-item.left {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
}

.experience-item.right {
	display: flex;
	justify-content: flex-start;
}

.experience-item .content{
	padding: 0.5rem;
	border: #555 solid 1px;
	border-radius: 5px;
	width: 44%;
	
}

.dot.middle-item{
  margin: 0 auto;
}
.duration-working{
	font-size: .8rem;
    background-color: #2abba7;
    color: #fff;
    padding: 5px 10px;
    line-height: 1;
    border-radius: 5px;
    user-select: none;
	height: fit-content;
}
