:root {
	--tony-background: rgb(15 23 42 / var(--tw-bg-opacity));
	--tw-bg-opacity: 1;
	--remotive-orange: #ff871a;
	--remotive-orange-rgb: 255, 135, 26;
	--remotive-off-white: #fff6e9;
	--remotive-sand: #fed294;
	--tony-color1: #f40c0c;
	--tony-color1-dark: #a81212;
	--tony-color1-old: #e24e63;
	--tony-color2: #2744e3;
	--tony-color2-dark: #1c31a6;
	--tony-color3: #1ba134;
	--tony-color3-dark: #096b1b;
	--tony-color3-light: #70ff87;
	--tony-color4: #e3b527;
	--tony-color4-dark: #706238;
	--tony-dark-background: #100f12;
	--tony-dark1-background: #ebe7dc;
	--tony-dark-header: #ececec;
	--tony-dark-text: #a9a9a9;
	--tony-light-text: #fcfcfc;
	--tony-dark-element-backgound: #151519;
	--tony-dark-element-header: #ececec;
	--tony-dark-element-text: #a9a9a9;
	--tony-light-background: #bdb6b6;
	--tony-white-background: #fffcf8;
	--tony-light-element-backgound: #22262c;
	--tony-light-element-header: #ffffff;
	--tony-light-element-text: var(--tony-light-background);
	--tony-light-very-element-backgound: #e6e1e1;
	--tony-light-very-element-text: #22262c;
	--tony-color-black: #19191c;
	--tony-block-border-radius: 0;
	--tony-container-width: 1400px;
	--tony-padding: 10%;
	--tony-background-image: radial-gradient(circle closest-side, #196974b5, #19697405 75%);
}
*,
::before,
::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: var(--tony-light-element-text);
	scrollbar-width: thin;
	scrollbar-color: #888 transparent;
	scroll-behavior: auto;
	color: var(--valor-dark-header);
}

body {
	font-family: "Figtree", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, Liberation Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
	margin: 0;
	padding: 0;
	color: var(--tony-light-very-element-backgound);
}

.App {
	display: flex;
	flex-direction: column;
	background: var(--tony-background);
	background-image: linear-gradient(transparent, transparent 194px, #d9d9d910 194px, #d9d9d910 195px), linear-gradient(90deg, transparent, transparent 194px, #d9d9d910 194px, #d9d9d910 195px);
	background-size: 195px 195px;
	background-position: calc(50vw + 70px) 0;
	background-color: var(--valor-white-background);
}

section {
	margin: 1rem;
	padding: 1rem;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	--border-opacity: 1;
	border-color: rgba(237, 242, 247, var(--border-opacity));
}

.card {
	border-radius: 15rem;
}

.card:hover {
	--card-box-shadow: var(--root-depth-8);
	--card-background-color: var(--theme-background-card-hover);
}

@keyframes slideAndRotate {
	0% {
		transform: translateX(100vw) rotate(0deg);
		opacity: 0.1;
	}
	80% {
		transform: translateX(0) rotate(-400deg);
		opacity: 0.8;
	}
	100% {
		transform: translateX(0) rotate(-360deg);
		opacity: 1;
	}
}

@keyframes slideIn {
	0% {
		transform: translateX(100vw);
	}
	100% {
		transform: translateX(0);
	}
}

@keyframes slideUp {
	0% {
		transform: translateY(100%);
		opacity: 0.1;
	}
	50% {
		transform: translateY(0);
		opacity: 0.5; /* Midpoint opacity */
	}
	100% {
		transform: translateY(0);
		opacity: 1; /* Final opacity */
	}
}

.slideIn {
	animation: slideIn 1s ease forwards;
}

.slideUp {
	opacity: 0;
	animation: slideUp 3s ease-in-out forwards;
	animation-delay: 1.5s;
}

.headLine {
	text-align: center;
}

.moveUp {
	transform: translateY(200px);
	transition: transform 5s ease;
}

@keyframes blink {
	0%,
	100% {
		opacity: 0.3;
	}
	50% {
		opacity: 0.6;
	}
}

@keyframes jump {
	0%,
	100% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-10px);
	}
}

@keyframes scroll_animate {
	0% {
		transform: translate(-100%);
		opacity: 0;
	}
	100% {
		transform: translateX(100%);
		opacity: 1;
	}
}

@keyframes zoom {
	0% {
		transform: scale(0);
		opacity: 0;
	}
	80% {
		transform: scale(1.2);
		opacity: 1;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

.box-card {
	transition: all 0.5s ease;
	animation: zoom 2s ease forwards;
}

.box-card:hover {
	transform: translateY(-1rem) ,scale(1.1);
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

@keyframes moveInOut {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-10px); 
    }
    100% {
        transform: translateX(0); 
    }
}
@keyframes typing {
    0%, 50% {
        content: "Hello World";
    }
    50%, 100% {
        content: "CSS Animation";
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

@keyframes wave {
0% {
    transform: rotate(0deg);
}

10% {
    transform: rotate(14deg);
}
20% {
    transform: rotate(-8deg);
}
30% {
    transform: rotate(14deg);
}
40% {
    transform: rotate(-4deg);
}
50% {
    transform: rotate(10deg);
}
60% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(0deg);
}
}