body {
  margin: 0;
  font-family: Sora Variable,Sora Fallback,Open Sans,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Arial,Open Sans,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
