body {
  margin: 0;
  font-family: 'OldNewspaperTypes', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  scroll-behavior: smooth;
  background-color: #fffcf8;
  transition: background-color .5s;
}
