.skill-section{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start ;
    gap: 1rem; 
    width: 50%;
    height : 100%;
}
.skill-section .skills{padding top 

    display: flex;
    justify-content: center;
    gap: 1rem; 
}
.skill-category{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.skills{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}