header {
    position: -webkit-sticky;
    display: flex;
    background: var(--gray-color);
    color: var(--white-color);
    padding: 20px;
    align-items: center;
    position: sticky;
    top: 0;
    justify-content : space-between;
    z-index: 99;
  }
  
.header-image.loaded {
    transform: translateX(0) rotate(-360deg);; 
    opacity: 1;
}

.header-image{
    animation: slideAndRotate 4s ease; 
    width: 130px; 
    height: 130px;
    opacity: 0.3;
}

  .header-img {
    border-radius: 50%; /* This makes the image circular */
    border: 5px solid #cc7029; /* Border color and width */
    overflow: hidden; 
    width: 100%;
    height: 100%;
    object-fit: cover; /* This ensures the image covers the entire area */
    object-position: center; /* This centers the image */
  }
  header h1 {
    margin: 0;
    font-size: 2.5rem;
    opacity: 0;
    cursor: pointer;
  }
  
  header p {
    margin: 5px 0;
    font-size: 1.2rem;
  }
  
  header nav {
    display: flex;
    margin-top: 15px;
    align-items: center;
    gap : 30px;
    opacity: 0;
  }
  
  header nav a {
    color: var(--white-color);
    margin: 0 20px;
    font-size: 1.1rem;
    text-decoration: none;
    transition: all 0.3s ease; 
  }
  
  header nav :hover {
    transform: scale(1.1); /* Zoom in effect */
    transform: translateY(-5px); /* Moves the link slightly upward */
  }
  